.details {
  position: relative;
  width: 100%;
  height: 1200px;
  overflow: hidden;
}

.background-flag-video {
  position: absolute;
  top: 50%;
  left: 50%;
  zoom: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.form-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.form-container h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.form-container p {
  font-size: 18px;
  font-style: italic;
  margin: 0px;
}

.coin {
  border-radius: 500px;
  width: 300px;
  margin: 20px;
  padding: 20px;
}

.form-container h4 {
  margin-top: 80px;
  font-size: 22px;
  width: 500px;
  text-align: center;
}

.form-container form {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 400px;
  padding: 5px;
  border-radius: 15px;
  color: rgb(72, 72, 72);
  background-color: white;
  box-shadow: 3px 3px 15px rgb(40, 39, 39);
}

.form-container form label {
  text-align: left;
  margin: 0 60px;
}

.form-container form input {
  width: 250px;
  height: 25px;
  margin: 5px 70px;
}

.form-container form .submit-button {
  width: 150px;
  height: 30px;
  margin: 5px 120px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.form-container form button:hover {
  background-color: rgb(227, 0, 0);
}

.details-giveaway {
  border: 3px solid red;
  padding: 20px;
}

.link-button-container {
  display: flex;
  justify-content: center;
  /* color: red; */
}

.link-button {
  margin: 40px;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  background-color: red;
  color: white;
  cursor: pointer;
}

@media (max-width: 602px) {
  .details {
    height: 1250px;
  }
}

@media (max-width: 527px) {
  .form-container h4 {
    font-size: 20px;
    width: 350px;
  }
}

@media (max-width: 426px) {
  .form-container h1 {
    font-size: 30px;
  }

  .form-container p {
    font-size: 16px;
  }

  .coin {
    width: 250px;
  }

  .form-container h4 {
    font-size: 18px;
    width: 400px;
  }

  .form-container form {
    width: 380px;
    height: 400px;
  }
}
